<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%- head.title %>
    <link href="<%- stylesheet %>" rel="stylesheet">
  </head>
  <body>
    <div id="root"><%- componentHTML %></div>

    <script type="text/javascript">
      window.__INITIAL_STATE__ = '<%- initialState %>';
    </script>
    <script src="<%- javascripts.vendors %>"></script>
    <script src="<%- javascripts.app %>"></script>
  </body>
</html>
